{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-2">
    <div class="row">
        <div class="col">
            <h1>Check out our video lessons!</h1>
        </div>
    </div>

    <div class="row align-items-center">
        {% if not full_access %}
        <div class="col-12 col-md-3 col-lg-2 order-last order-md-first  py-5 mb-2">
            <a href="{% url 'subscribe' %}">
                <div class="card text-center mt-5 crowd-image-bg" style="background-color: transparent;">
                    <div class="card-body">
                        <h2 class="card-title text-white font-weight-bolder">Join Us</h2>
                        <hr class="border-color: white;">
                        <p class="text-white">Become a member.</p>
                        <p class="text-white">Unlock all videos.</p>
                        <p class="text-white">Begin your journey.</p>
                    </div>
                </div>
            </a>
        </div>

        {% else %}
        <div class="col-12 col-md-3 col-lg-2 order-last order-md-first  py-5 mb-2">
            <div class="card no-shrink text-center mt-5 crowd-image-bg" style="background-color: transparent;">
                <div class="card-body">
                    <h2 class="text-white">Practice</h2>
                    <h3 class="text-white">Makes</h3>
                    <h4 class="text-white">Perfect.</h4>
                    <p class="text-white">Enjoy your journey.</p>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="col-1 d-none d-md-block"></div>

        <div class="col-12 col-md-8 col-lg-9">
            {% for ser in series %}
            <div class="row mb-4">
                <div class="col-12">
                    <h3>{{ ser.name }}</h3>
                    <p>{{ ser.description }}</p>
                </div>
                {% for lesson in ser.lessons %}
                <div class="col-4 col-md-3 col-lg-2 mb-2">
                    {% if forloop.counter > ser.lesson_count %}
                    <img src="{{ lesson.image.url }}" alt="Thumbnail image of {{ lesson.name }}"
                        class="video-thumbnail img-fluid">
                    <img src="{{ MEDIA_URL }}video_locked_overlay.png" alt="overlay image of padlock"
                        class="video-locked-overlay img-fluid">
                    {% else %}
                    <a href="{% url 'video_player' lesson.id %}">
                        <img src="{{ lesson.image.url }}" alt="Thumbnail image of {{ lesson.name }}"
                            class="img-fluid video-thumbnail">
                    </a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}