{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-auto text-center">
            <h1>Payment Successful</h1>
            <p>Your order will be dispatched shortly</p>
        </div>
    </div>

    <!-- Display the delivery details for the user's order -->
    <div class="row mt-2 d-flex align-items-stretch">
        <div class="col-12 col-md-4 justify-content-center">
            <div class="card non-reactive w-auto">
                <div class="card-body">
                    <h5 class="card-title text-center bg-cherry text-white py-3">
                        <i class="fa-solid fa-truck"></i>&nbsp;&nbsp;Your Delivery Details
                    </h5>
                    <div class="card-text">
                        <hr>
                        {{ order.full_name }},<br>
                        {{ order.street_address1 }},<br>
                        {% if order.street_address2 %}{{ order.street_address2 }},<br>{% endif %}
                        {{ order.town_or_city }},<br>
                        {% if order.county %}{{ order.county }},<br>{% endif %}
                        {{ order.country }}{% if order.postcode %}, {{ order.postcode }}{% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Display a photo on larger screens-->
        <div class="col-2 d-none d-md-block">
            <img src="{{ MEDIA_URL }}crowd_tall_bw.webp" alt="Black and white image of rock concert" class="img-fluid">
        </div>

        <!-- Display a summary of the order -->
        <div class="col-12 col-md-6">
            <div class="card non-reactive w-auto">
                <div class="card-body">
                    <h5 class="card-title text-center bg-cherry text-white py-3">
                        <i class="fa-solid fa-cart-shopping fa-lg"></i>&nbsp;&nbsp;Your Order
                    </h5>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Qty.</th>
                                <th class='text-right' scope="col">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_line_items %}
                            <tr>
                                <td>{{ item.product.name}}</td>
                                <td>{{ item.quantity}}</td>
                                <td class="text-right">&euro;{{ item.line_item_total}}</td>
                            </tr>
                            {% endfor %}
                            <tr>
                                <td>Delivery</td>
                                <td></td>
                                <td class="text-right">&euro;{{ order.delivery_cost }}</td>
                            </tr>
                            <tr>
                                <td>Total ({{ item_count }} item{% if item_count > 1 %}s{% endif %})</td>
                                <td></td>
                                <td class="text-right">&euro;{{ order.grand_total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center mt-5">
        <div class="col-auto text-center">
            <h2>Thank you for shopping with us!</h2>
        </div>
    </div>
    <div class="row justify-content-center mt-1 mt-md-3">
        <div class="col-12 col-md-6 col-lg-4 order-2 order-md-1">
            <img src="{{ MEDIA_URL }}soulful_guitarist.webp" alt="soulful guitarist"
                class="img-fluid position-relative">
                <h3 class="position-absolute text-white" style="left: 30px; bottom: 10px;">Next Step</h3>
        </div>
        <div class="col-12 col-md-4 order-1 order-md-2 border p-3 text-center my-auto">
            <p>Why not check out our <strong>video lessons</strong> and start your learning journey right now!</p>
            <a href="{% url 'all_lessons' %}">
                <span class="btn btn-cherry-inverted">
                    <i class="fa-solid fa-video"></i>&nbsp;&nbsp;Video Lessons
                </span>
            </a>
        </div>
    </div>
</div>


{% endblock %}