{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Display a table containing all the orders on the system -->
<div class="container">
    <div class="row mt-3 text-center justify-content-center">
        <div class="col">
            <h3>Staff Order List</h3>
            <span>Click item to see detail.</span>
            <!-- Note - this table produces warnings in the validator as there are different
                 numbers of columns in the header and the body. This is because some columns 
                 appear twice in either; a short version and a long version, only one of which
                 is displayed based on bootstrap responsiveness classes. The purpose of this 
                 is to ensure meaningful information is still presented at the smallest screen
                 widths, and as such the warnings are being ignored. -->
            <table class="table table-hover border mt-3">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">
                            Order No.
                        </th>
                        <th scope="col" class="d-none d-md-table-cell">
                            Paid
                        </th>
                        <th scope="col" class="d-table-cell d-md-none"> 
                            Pd
                        </th>
                        <th scope="col">
                            <span class="d-none d-md-inline">Fulfilled</span>
                            <span class="d-inline d-md-none">Ffld</span>
                        </th>
                        <!-- <th scope="col" class="d-table-cell d-md-none"> 
                            Ffld
                        </th> -->
                        <th scope="col" class="d-none d-lg-table-cell">
                            Name
                        </th>
                        <th scope="col" class="d-none d-lg-table-cell">
                            Email
                        </th>
                        <th scope="col" class="d-none d-xl-table-cell">
                            Country
                        </th>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col">
                            Total
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in orders %}
                    <tr onclick="onRowClick(event, '{{ order.id }}')"
                        class="{% if order.fulfilled or not order.payment_confirmed %}text-muted bg-light-grey{% endif %}">
                        <td class="d-none d-md-table-cell">
                            {{ order.order_number }}
                        </td>
                        <td class="d-table-cell d-md-none">
                            ...{{ order.order_number|slice:":6"}}
                        </td>
                        <td>
                            {% if order.payment_confirmed %}
                            &#x2705;
                            {% else %}
                            &#x274C;
                            {% endif %}
                        </td>
                        <td>
                            {% if order.fulfilled %}
                            &#x2705;
                            {% else %}
                            &#x274C;
                            {% endif %}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {{ order.full_name }}
                        </td>
                        <td class="d-none d-lg-table-cell">
                            {{ order.email }}
                        </td>
                        <td class="d-none d-xl-table-cell">
                            {{ order.country }}
                        </td>
                        <td>
                            {{ order.date|date:'d N y' }}
                        </td>
                        <td>
                            &euro;{{ order.grand_total }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    const onRowClick = (event, id) => {
        window.location = `/checkout/staff_order_detail/${id}`;
    }
</script>
{% endblock %}