{% extends 'base.html' %}
{% load static %}

{% block subheader %}
{% if special_offers %}
<!-- If any product in the basket in on offer, display the offer here -->
<div class="container-fluid">
    <div class="row align-items-center">
        {% for offer in special_offers %}
        <div class="col-12 special-offer-banner py-2 text-center">
            <h1 class="font-weight-bold text-white text-uppercase d-block d-md-inline">
                Special Offer
            </h1>
            <span class="font-bold mx-3">
                {{ offer.product.name }} for only &euro;{{ offer.reduced_price }}
                {% if offer.required_product %}
                when you buy a {{ offer.required_product.name }}
                {% endif %}
            </span>
            <br class="d-block d-md-none">
            <span class="text-white font-bold">
                Offer ends {{ offer.end_date }}
            </span>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endblock %}

{% block content %}
<div class="container-fluid text-black mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="">Your Basket</h1>
        </div>
    </div>
    {% if basket %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-8  col-lg-6 mt-3">
            <!-- Table to display each item in the basket-->
            <table class="table table-sm basket-view-table">
                <thead class="bg-cherry text-white">
                    <tr class="text-center font-weight-bolder">
                        <th></th>
                        <th class="text-left d-none d-md-table-cell" scope="col">Product</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Subtotal</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in basket %}
                    <tr>
                        <td>
                            <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" class="thumbnail">
                        </td>
                        <td class="align-middle d-none d-md-table-cell">
                            <h5>{{ item.product.name }}</h5>
                            {% if item.on_special %}
                            <span class="special-offer-tag p-1">Special Offer!</span>
                            {% endif %}
                        </td>
                        <td class="align-middle">
                            <form method="POST" action="{% url 'replace_item_quantity' item.product.id %}" 
                                class="quantity-form-element" id="form_{{ item.product.id }}">
                                {% csrf_token %}
                                <div class="form-group text-center my-auto">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-quantity"
                                                data-item_id="{{ item.product.id }}"
                                                id="decrement-{{ item.product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control quantity-input text-center" type="text"
                                            name="quantity" value="{{ item.quantity }}" data-min="1"
                                            data-max="{{ item.quantity_available }}" 
                                            data-item_id="{{ item.product.id }}" data-should_submit="true"
                                            id="quantity-input-{{ item.product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-quantity"
                                                data-item_id="{{ item.product.id }}"
                                                id="increment-{{ item.product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </td>
                        <td class="align-middle text-right">
                            <span>&euro;{{ item.subtotal }}</span>
                        </td>
                        <td class="align-middle trash-can-form">
                            <form method="POST" action="{% url 'remove_from_basket' item.product.id %}"
                                class="form-inline d-inline ml-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-cherry">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
    </div>
    {% else %}
    <!-- Display message to user if basket is empty -->
    <div class="row justify-content-center my-4">
        <div class="col-auto text-center">
            <h2>(You don't have any items in your basket).</h2>
            <h3>Why not have a look through our well-stocked shop!</h3>
        </div>
    </div>
    {% endif %}

    {% if basket %}
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-lg-3 order-2 order-md-1 d-flex justify-content-around align-items-center bg-light-grey">
            <a href="{% url 'product_display' %}">
                <span class="btn btn-cherry">
                    <i class="fa-regular fa-hand-point-left"></i>&nbsp;&nbsp;Shop
                </span>
            </a>
            <form method="POST" action="{% url 'empty_basket' %}">
                {% csrf_token %}
                <button type='submit' class="btn btn-cherry">
                    Clear All&nbsp;&nbsp;<i class="fa-regular fa-trash-can"></i>
                </button>
            </form>
            
        </div>

        <!-- Display cost of items (subtotal), delivery and grand total -->
        {% if total %}
        <div class="col-12 col-md-4 col-lg-3 order-1 order-md-2" style="font-size: 0.7rem">
            <div class="row">
                <div class="col-4">
                    <span class="font-weight-bolder">Subtotal :</span>
                </div>
                <div class="col-8 text-right">
                    <span class="font-weight-bolder">${{ subtotal|floatformat:2 }}</span>
                </div>
                <div class="col-4">
                    <span class="font-weight-bolder">Delivery :</span>
                    <hr>
                </div>
                <div class="col-8  text-right">
                    <span class="font-weight-bolder">${{ delivery|floatformat:2 }}</span>
                    <hr>
                </div>
                <div class="col-4">
                    <h5 class="font-weight-bolder">Total :</h5>
                </div>
                <div class="col-8 text-right">
                    <h4 class="font-weight-bolder">${{ total|floatformat:2 }}</h4>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% endif %}
    {% if basket %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-4">
            <a href="{% url 'checkout' %}">
                <span class="btn checkout-button">
                    Checkout&nbsp;&nbsp;<i class="fa-solid fa-coins"></i>
                </span>
            </a>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-auto text-center">
            <a href="{% url 'product_display' %}">
                <span class="btn btn-cherry">
                    <i class="fa-solid fa-store"></i></i>&nbsp;&nbsp;Shop
                </span>
            </a>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/quantity_buttons.js' %}"></script>
{% endblock %}