* {
    box-sizing: border-box;
    transition: 0.2s all;
    font-family: 'Nunito', sans-serif;
}

.bg-light-grey {
    background-color: #aaaaaa;
}

.bg-cherry {
    background-image: linear-gradient(#86424d, #401c20);
}

.bg-radial-cherry {
    background-image: radial-gradient(#401c20, #86424d);
    opacity: 0.8;
}

.text-cherry {
    color: #401c20;
}

.btn-cherry {
    color: white;
    background-color: #401c20;
}

.btn-cherry:hover {
    color: white;
    background-color: #86424d;
}

body {
    padding-top: 70px;
    height: 100vh;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

.site-header {
    height: 70px;
}

.hero-section {
    background-image: url('/media/hero_image.webp');
    background-size: cover;
    background-position: contain;
    height: 60% !important;
}

.card-body a {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    background-color: white;
    color: black;
    font-size: 1.3rem;
}

.card-body a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

/* These elements style the product display page */
.product-description {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.product-name {
    height: 48px;
}

.increment-qty {
    border-radius: 0 50% 50% 0 !important;
}

.decrement-qty {
    border-radius: 50% 0 0 50% !important;
}

audio {
    background-color: #401c20;
}
