{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- LARGE SCREEN LAYOUT -->
<div class="container-fluid d-none d-lg-block hero-section-large-screen h-100 m-3">
    <div class="row mt-5">
        <div class="col-4 col-md-4 col-lg-6 col-xl-8 p-4 my-auto text-left justify-content-center">
            <h1 class="font-weight-bolder text-grey">For Guitarists, by Guitarists</h1>
            <h2 class="font-weight-bolder">Strings Attached</h2>
            <h3 class="text-muted">The first stop on your musical journey.</h3>
            <hr class="hr-75">
            <a href="{% url 'product_display' %}">
                <div class="card text-center w-50 max-width-card ml-large">
                    <div class="card-body">
                        <h4>Shop</h4>
                        <img src="{{ MEDIA_URL }}guitar_shop.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
            <a href="{% url 'all_lessons' %}">
                <div class="card text-center w-50 max-width-card ml-large mt-3">
                    <div class="card-body">
                        <h4>Learn</h4>
                        <img src="{{ MEDIA_URL }}guitar_lesson.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- MEDIUM SCREEN LAYOUT -->
<div class="container-fluid d-none d-md-block d-lg-none py-5">
    <div class="row hero-section-medium-screen">
        <div class="col-12 mt-5 text-left justify-content-center">
            <h1 class="font-weight-bolder">For Guitarists</h1>
            <h2 class="font-weight-bolder">Strings Attached</h2>
            <h3 class="text-muted">Your musical journey.</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="{% url 'product_display' %}">
                <div class="card w-100 max-width-card text-center mx-auto">
                    <div class="card-body">
                        <h4>Shop</h4>
                        <img src="{{ MEDIA_URL }}guitar_shop.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
        </div>
        <div class="col-6">
            <a href="{% url 'all_lessons' %}">
                <div class="card w-100 max-width-card text-center mx-auto">
                    <div class="card-body">
                        <h4>Learn</h4>
                        <img src="{{ MEDIA_URL }}guitar_lesson.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

<!-- SMALL SCREEN LAYOUT -->
<div class="container-fluid d-block d-md-none mt-2">
    <div class="row hero-section-small-screen">
        <div class="col-12 my-auto text-left justify-content-center">
            <h4 class="font-weight-bolder">For Guitarists</h4>
            <h5 class="font-weight-bolder">Strings Attached</h5>
            <p class="text-muted">Your musical journey.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="{% url 'product_display' %}">
                <div class="card text-center max-width-card w-75 mx-auto">
                    <div class="card-body">
                        <h4>Shop</h4>
                        <img src="{{ MEDIA_URL }}guitar_shop.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
            <a href="{% url 'all_lessons' %}">
                <div class="card text-center max-width-card w-75 mx-auto mt-4">
                    <div class="card-body">
                        <h4>Learn</h4>
                        <img src="{{ MEDIA_URL }}guitar_lesson.webp" alt="image of guitar shop"
                            class="img-fluid d-inline-block">
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

{% endblock %}