{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 offset-md-2 offset-lg-3 mt-2 mt-md-4">
            <h1>Add a New Product</h1>
            <hr>
            <form method="POST" action="{% url 'add_product' %}">
                {% csrf_token %}
                {{ form.name | as_crispy_field }}
                {{ form.category | as_crispy_field }}
                {{ form.description | as_crispy_field }}
                {{ form.price | as_crispy_field }}
                <div class="border p-2">
                    {{ form.image | as_crispy_field }}

                    <!-- Preview form image -->
                    <img width="200" class="" id="image-preview" src="{{ MEDIA_URL }}{{form.image.value}}" 
                        alt="Product image">
                    <span>{{ form.image.value }}</span>
                </div>
                <div class="border p-2 my-3">
                    {{ form.audio_clip | as_crispy_field }}
                    
                    <!-- Preview form audio clip -->
                    <audio controls src="{{ MEDIA_URL }}{{ form.audio_clip.value }}"
                        id="audio-preview"></audio>
                </div>
                {{ form.stock_level | as_crispy_field }}
                {{ form.reorder_threshold | as_crispy_field }}
                {{ form.product_owner | as_crispy_field }}
                <input type="submit" value="Add Product">
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'js/generate_previews.js' %}"></script>
{% endblock %}