{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>Staff Product List</h3>
            <span>Click header to sort or click item to edit.</span>
            <br>
            <span class="d-md-none">(Best read in landscape mode)</span>

            <!-- Table responsive is used here to make the table horizontally scrollable
                 on smaller screens. This is judged to be acceptable UX as the trade-off between
                 appearance and useability is different for pages that are only seen by staff.-->
            <div class="table-responsive">
                <table class="table table-hover border mt-3">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th scope="col" onclick="onColHeaderClick(event, 'all')" data-order="{{ product_order }}"
                                class="staff-product-title">
                                Product&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                            </th>
                            <th scope="col" onclick="onColHeaderClick(event, 'category')"
                                data-order="{{ category_order }}">
                                Category&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                            </th>
                            <th scope="col" onclick="onColHeaderClick(event, 'price')" data-order="{{ price_order }}">
                                Price&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                            </th>
                            <th scope="col" onclick="onColHeaderClick(event, 'stock-low')" data-order="">
                                Stk <sub>low</sub>
                            </th>
                            <th scope="col">Threshold</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in products %}
                        <tr onclick="onRowClick(event, '{{ item.id }}')">
                            <td>
                                <img src="{{ item.image }}" alt="Image of {{ item.name}}" class="thumbnail-tiny">
                            </td>
                            <td class="align-middle">{{ item.name }}
                                {% if item.on_special %}
                                <span class="badge badge-pill badge-success">
                                    offer
                                </span>
                                {% endif %}
                                {% if item.stock_low %}
                                <span class="badge badge-pill badge-warning">
                                    low
                                </span>
                                {% endif %}
                                {% if item.out_of_stock %}
                                <span class="badge badge-pill badge-danger">
                                    o/s
                                </span>
                                {% endif %}
                            </td>
                            <td class="align-middle">{{ item.category }}</td>
                            <td class="text-right align-middle {% if item.on_special %}special-offer-badge{% endif %}">
                                &euro;{{ item.price }}
                            </td>
                            <td class="text-center align-middle {% if item.stock_low %}stock-low-badge{% endif %}
                            {% if item.out_of_stock %}out-of-stock-badge{% endif %}">
                                {{ item.stock }}
                            </td>
                            <td class="text-center align-middle">{{ item.threshold }}</td>
                            <td class="text-center align-middle">
                                <button class="btn btn-cherry"
                                    onclick="onDeleteProductButtonClick(event, '{{ item.id }}')">
                                    <i class="fa-regular fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!--Confirm product delete modal-->
<div class="modal fade" id='delete-product-confirmation' tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="custom-justbeats-modal modal-content">
            <div class="modal-body">
                <p>Do you really want to delete this product?</p>
            </div>
            <div class="modal-footer">
                <button id='refuse-delete-product-button' type="button" class="btn btn-danger"
                    onclick="onRefuseDeleteProductClick(event)">
                    No, wait!
                </button>
                <form method="POST" action="{% url 'delete_product' %}" id="confirm-delete-form">
                    {% csrf_token %}
                    <input id='confirm-delete-product-button' type="submit" class="btn btn-primary"
                        onclick="onConfirmDeleteProductClick(event)" value="Go ahead and delete it">
                    <input type="hidden" id="hidden-product-id-input" name="product-id" value="">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script>
    const onRowClick = (event, id) => {
        window.location = `/stock/update_product/${id}`;
    }
    const onColHeaderClick = (event, name) => {
        const order = event.target.getAttribute('data-order');
        event.target.setAttribute('data-order', order === '' ? '-' : '');
        window.location = `/stock/staff_product_list/${order}${name}`;
    }
</script>
<script src="{% static 'js/delete_product_modal.js' %}"></script>
{% endblock %}