{% include 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid mt-4">
    <div class="row justify-content-center">
        <div class="col-auto">
            <h3>Staff Product List</h3>
            <span>Click header to sort or click item to edit.</span>
            <table class="table table-hover border mt-3">

                <thead class="thead-dark">
                    <tr>
                        <th scope="col" onclick="onColHeaderClick(event, 'all')"
                            data-order="{{ product_order }}" class="staff-product-title">
                            Product&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                        </th>
                        <th scope="col" onclick="onColHeaderClick(event, 'category')"
                            data-order="{{ category_order }}">
                            Category&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                        </th>
                        <th scope="col" 
                            onclick="onColHeaderClick(event, 'price')"
                            data-order="{{ price_order }}">
                            Price&nbsp;&nbsp;<i class="fa-solid fa-sort"></i>
                        </th>
                        <th scope="col" onclick="onColHeaderClick(event, 'stock-low')"
                            data-order="">
                            Stk <sub>low</sub>
                        </th>
                        <th scope="col">Threshold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in products %}
                    <tr onclick="onRowClick(event, '{{ item.id }}')">
                        <td>{{ item.name }}
                            {% if item.on_special %}
                            <span class="badge badge-pill badge-success">
                                offer
                            </span>
                            {% endif %}
                            {% if item.stock_low %}
                            <span class="badge badge-pill badge-warning">
                                low
                            </span>
                            {% endif %}
                            {% if item.out_of_stock %}
                            <span class="badge badge-pill badge-danger">
                                o/s
                            </span>
                            {% endif %}
                        </td>
                        <td>{{ item.category }}</td>
                        <td class="text-right {% if item.on_special %}special-offer-badge{% endif %}">
                            &euro;{{ item.price }}
                        </td>
                        <td class="text-center {% if item.stock_low %}stock-low-badge{% endif %}
                            {% if item.out_of_stock %}out-of-stock-badge{% endif %}">
                            {{ item.stock }}
                        </td>
                        <td class="text-center">{{ item.threshold }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
<script>
    const onRowClick = (event, id) => {
        window.location = `/stock/update_product/${id}`;
    }
    const onColHeaderClick = (event, name) => {
        const order = event.target.getAttribute('data-order');
        event.target.setAttribute('data-order', order === '' ? '-': '');
        window.location = `/stock/staff_product_list/${order}${name}`;
    }
</script>
{% endblock %}