{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://kit.fontawesome.com/f2f8e80db6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    {% endblock %}

    {% block extrajs %}
    {% endblock %}

    <title>Strings Attached {% block extra_title %}{% endblock %}</title>
</head>

<body>
    <header class="container-fluid fixed-top bg-cherry">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand text-white" href="{% url 'home' %}"><strong>Strings Attached</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <form method="GET" action="{% url 'product_display' %}" class="form-inline my-2 my-lg-0 mx-auto">
                    <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search all products"
                        aria-label="Search">
                    <button class="btn my-2 my-sm-0" type="submit">
                        <i class="fa-sharp fa-solid fa-q button-icon text-white"></i>
                    </button>
                </form>
                <ul class="navbar-nav ml-auto mr-5 align-items-center">
                    {% if request.user.is_authenticated %}
                    <li class="nav-item mr-3 text-white">
                        Logged in as {{ request.user.username }}
                    </li>
                    {% endif %}
                    {% if request.user.is_staff %}
                    <li class="list-inline-item dropdown mr-3">
                        <a class="text-white nav-link" href="#" id="account" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center text-white">
                                <div><i class="fa-solid fa-pen-to-square"></i></div>
                                <p class="text-center">Staff</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'add_product' %}">Add product</a>
                            <a class="dropdown-item" href="{% url 'staff_product_list' 'all' %}">Product List</a>
                            <a class="dropdown-item" href="{% url 'staff_order_list' %}">Order List</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="list-inline-item dropdown mr-3">
                        <a class="text-white nav-link" href="#" id="account" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="text-center text-white">
                                <div><i class="fa-regular fa-user fa-lg text-white"></i></div>
                                <p class="text-center">Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% if request.user.is_authenticated %}
                            <a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'account_signup' %}">Register</a>
                            <a class="dropdown-item" href="{% url 'account_login' %}">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a href="{% url 'view_basket' %}">
                            <div class="text-center text-white">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p>
                                    {% if total %}
                                    ${{ total|floatformat:2 }}
                                    {% else %}
                                    $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--A holder for messages, both those passed by Django to the page and also 
        those created in JavaScript to mimic the Django messaging-->
    <div class="container message-container">
        <div class="row">
            <div class="col" id="message-holder">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">X</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% block subheader %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script src="/static/js/message_dismisser.js"></script>
    {% endblock %}
</body>

</html>