{% extends 'base.html' %}

{% load static %}

<div class="col-12 special-offer-banner py-2 text-center">
    <h1 class="font-weight-bold text-white text-uppercase d-inline">
        Special Offer
    </h1>
    <span class="font-bold mx-3">
        {{ offer.product.name }} for only &euro;{{ offer.reduced_price }}
        {% if offer.required_product %}
        when you buy a {{ offer.required_product.name }}
        {% endif %}
    </span>
    <span class="text-white font-bold">
        Better hurry! Offer ends {{ offer.end_date }}
    </span>
    <form method="POST" action="{% url 'add_to_basket' offer.product.id %}" class="form-inline d-inline ml-3">
        {% csrf_token %}
        <input type="submit" class="btn btn-cherry" value="ADD">
        <input type="hidden" name="quantity" value="1">
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
    </form>
</div>

{% block subheader %}
{{ block.super }}
{% if special_offers %}


<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        {% for offer in special_offers %}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <div class="special-offer-banner py-2 text-center">
                <h1 class="font-weight-bold text-white text-uppercase d-inline">
                    Special Offer
                </h1>
                <span class="font-bold mx-3">
                    {{ offer.product.name }} for only &euro;{{ offer.reduced_price }}
                    {% if offer.required_product %}
                    when you buy a {{ offer.required_product.name }}
                    {% endif %}
                </span>
                <span class="text-white font-bold">
                    Better hurry! Offer ends {{ offer.end_date }}
                </span>
                <form method="POST" action="{% url 'add_to_basket' offer.product.id %}"
                    class="form-inline d-inline ml-3">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-cherry" value="ADD">
                    <input type="hidden" name="quantity" value="1">
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endif %}

{% endblock %}


{% block content %}

<div class="container-fluid w-75">
    <div class="row py-2 text-center justify-content-center">
        <div class="col-auto">
            <a href="{% url 'product_display' %}?category=all">
                <span class="category-link w-100 font-weight-bolder mx-3">
                    All
                </span>
            </a>
        </div>
        {% for category in categories %}
        <div class="col-auto">
            <a href="{% url 'product_display' %}?category={{ category.name }}">
                <span class="category-link w-100 font-weight-bolder mx-3">
                    {{ category.friendly_name }}
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div class="row pt-3">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <a href="{% url 'product_detail' product.id %}">
                <div class="card border-1">
                    <img src="{{ product.image.url }}" class="img-fluid w-75 p-1 mx-auto"
                        alt="Image of {{ product.name }}">
                    <div class="card-body">
                        <h6 class="card-title font-weight-bolder product-name text-cherry">{{ product.name }}</h6>
                        <span class="card-text product-description d-block">{{ product.description }}</span>
                        <span class="card-text float-left">&euro;{{ product.price }}</span>
                        <span class="card-text text-muted float-right">
                            <i class="fas fa-tag mr-2"></i>{{ product.category.friendly_name }}
                        </span>
                    </div>
                    {% if product.stock_level == 0 %}
                    <div class="out-of-stock-overlay"></div>
                    <div class="out-of-stock-tag">out of stock</div>
                    {% endif %}
                </div>
            </a>
        </div>
        {% if forloop.counter|divisibleby:1 %}
        <div class="col-12 d-sm-none mb-5">
            <div class="p-1"></div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:2 %}
        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
            <div class="p-1"></div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:3 %}
        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
            <div class="p-1"></div>
        </div>
        {% endif %}
        {% if forloop.counter|divisibleby:4 %}
        <div class="col-12 d-none d-xl-block mb-5">
            <div class="p-1"></div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

{% endblock %}