{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <div class="row py-2 bg-radial-cherry text-center justify-content-center">
        <div class="col-auto">
            <a href="{% url 'product_display' %}?category=all">
                <span class="btn btn-cherry w-100 text-white font-weight-bolder">
                    All
                </span>
            </a>
        </div>
        {% for category in categories %}
        <div class="col-auto">
            <a href="{% url 'product_display' %}?category={{ category.name }}">
                <span class="btn btn-cherry w-100 text-white font-weight-bolder">
                    {{ category.friendly_name }}
                </span>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row pt-3">
        {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <a href="{% url 'product_detail' product.id %}">
                <div class="card border-1 w-100">
                    <img src="{{ product.image.url }}" class="card-img-top img-fluid p-3"
                        alt="Image of {{ product.name }}">
                    <div class="card-body">
                        <h5 class="card-title font-weight-bolder product-name">{{ product.name }}</h5>
                        <p class="card-text product-description">{{ product.description }}</p>
                        <span class="card-text float-left">&euro;{{ product.price }}</span>
                        <span class="card-text text-muted float-right">
                            <i class="fas fa-tag mr-2"></i>{{ product.category.friendly_name }}
                        </span>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}